.div1 {
    text-align: center;
}

h1 {
    padding-top: 90px;
    font-size: 75px;
    text-decoration: underline;
}

p {
    padding-top: 25px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    color: rgb(37, 3, 141);
}

h1 {
    position: relative;
    color: #1f7a36;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0000);
    line-height: 0.70em;
    animation: animate 5s linear infinite;

}

#span {
    position: relative;
    color: #1f7a36;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0000);
    line-height: 0.70em;
    animation: animate 5s linear infinite;
}

@keyframes animate 
{

    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #0e3742;
        text-shadow: none;
    }

    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow:  0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4
    }
    
} 

#btn1,#btn2{
    margin:10px;
    width: 8%;
    font-weight: bold;
}
