<div class="div1">
    <div class="content">
        <h1> WEL~COME</h1> <br>
    </div>
    <br>
    <p>
        “Welcome to <span id="span">INFY-DIGITAL &nbsp;</span>, your one-stop destination for all things electronic!
        Explore our wide range of cutting-edge gadget, appliance and tech accessories that are designed to enhance your
        modern lifestyle.Whether you're a tech enthusiast, a casual user , or a professional. Our Commitment to
        quality,innovation, and customer satisfaction sets us apart as a premier electronic shop. Browse through our
        collection and discover the future today. ”
    </p>
    <button id="btn1" class="btn btn-primary btn-lg" [routerLink]='["/customerdetails/register"]'>Sign-Up</button><br>
    <button id="btn2" class="btn btn-success btn-lg" [routerLink]='["/customerdetails/login"]'>Login</button>
</div>