.grid-container
{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 50px;
    background-image: linear-gradient(to right, lightyellow, rgb(202, 139, 139));
}


.search
{
    text-align: center;
    width: 100%;
    position:fixed;
    z-index: 1000; 

    background-image: linear-gradient(to right, lightyellow, rgb(163, 105, 159));

    -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
}


.display-4{
    text-align: center;
    padding: 15px 20px;
}


.product
{
    /* grid-column:1/ span 2; */
    /* grid-row: 2/ span 3; */
    padding-bottom: 20px;
    margin-top: 200px;
    /* margin-top: 25px; */
}


.subgrid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:40px;
    padding-left: 11%;
}


.card{
    
    width: 400px;
    /* background-color: #66b2b2; */
    background-image: linear-gradient(to right, rgb(109, 155, 160), rgb(90, 152, 100));

}

.size{
    font-size: 35px;
}
.btn{
    background-color:#b2d8d8;
    color: black;
}
input{
    height: 34px;
    border: 1px solid black;
    border-radius: 3px;
}

.specificsearch
{
    padding-left: 40px;
}

.error
{
    padding: 20px;    
} 