<div class="div1">
    <div class="card" style="width: 25rem; height: 15rem;">
        <div class="card-body">
            <h5 class="card-title">Debit Card <span class="span1">Visa</span></h5>
            <div class="inputBox">
                <label style="color: blue;"><strong> 1234 1234 1234 1234</strong></label><br>
                <span><strong>Card Number</strong></span><br>
                <i></i>
            </div>
            <div class="inputBox">
                <label style="color: blue;"><strong> 999 </strong></label><br>
                <span><strong>CVV Number</strong></span>
                <i></i>
            </div><br>
            <button class="btn btn-success" (click)="payment()">Proceed Payment</button>
        </div>
    </div>

</div>