<div class="body">
    <div class="row carouselStyle">
        <div class="col-md-12">

            <div id="sitecarousel" class="carousel slide" data-ride="carousel">
                <div class="">
                    <div class="carousel-item active" id="img">
                        <img src="./assets/photos/home.jpg" class="carouselImage" alt="img1">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="grid-container">
        <div class="one home">
            <div class="display-4">Benefits</div>
            <div>
                {{Benefits}}
            </div>
        </div>
        <div class="two home">
            <div class="display-4">Importance</div>
            <div>
                {{Importance}}
            </div>
        </div>
        <div class="three home">
            <div class="display-4">Need</div>
            <div>
                {{Need}}
            </div>
        </div>
    </div>
</div>