<div class="body">
    <div class="box">
        <form>
            <h2>INFY-DIGITAL</h2><br>
            <h2>Log In</h2>
            <div class="inputBox">
                <input type="text" placeholder="EmailId" #userName>
                <span>User Name:</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" #password>
                <span>Password:</span>
                <i></i>
            </div>
            <div class="links">
                <a [routerLink]='["/customerdetails/forgot"]' id="a1">Forgot Password</a>
                <a [routerLink]='["/customerdetails/register"]'>Don't have accont? Register</a>
            </div>
            <button type="submit" (click)="login(userName.value,password.value)">Login</button>
        </form>
    </div>
</div>
<!-- <button (click)="show()">Show Register Data</button> -->